@media (max-width: 650px) {
    .container_box {
      flex-wrap: wrap;
      background-color: blue;
      display: flex;
      justify-content: center;
      gap: 20px;
    }
    .box {
      width: 30%;
    }
    .box:nth-child(1) {
      width: 75%;
    }
  
    .box:nth-child(4) {
      width: 75%;
    }

    .burger{
      display: block;
    }

    .ul{
      display: none;
    }
    .fa-brands {
      font-size: 45px;
      color: blue;
      margin-left: 40px;
    }
    .image_fit{
      width: 150px;
      height: 140px;
      object-fit: contain;
    }
  }
  
  @media (max-width: 400px) {
    .container_box {
      justify-content: center;
      background-color: green;
    }
    .box {
      width: 75%;
    }
    .burger{
      display: block;
    }
    .ul{
      display: none;
    }
   .section2{
    display: flex;
   flex-direction: column;
  
   }
   .fa-brands {
    font-size: 30px;
    color: blue;
    margin-left: 20px;
  }
  .image_fit{
    width: 120px;
    height: 100px;
    object-fit: contain;
  }
  }
  