body {
  padding-left: 40px;
}

.ford_image {
  width: 130px;
  height: 64px;
  border: 1px solid #4ca9e3;
  margin-top: 32px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ul {
  display: flex;
}

a:hover {
  background-color: yellow;
  font-size: 30px;
  font-weight: 900;
  color: blue;
}

.burger {
  width: 50px;
  height: 40px;
  display: none;
}

.fa-solid {
  font-size: 40px;
  font-weight: bold;
  display: none;
}

.text1 {
  font-weight: 400;
  color: #f50808;
  font-size: 20px;
  line-height: 29px;
  margin-right: 50px;
  
}
.text2 {
  font-weight: 400;
  color: #128410;
  font-size: 20px;
  line-height: 29px;
  margin-right: 50px;
  text-decoration: none;
}

main {
  padding: 20px;
}

.container_box {
  display: flex;
  justify-content: space-between;
  background-color: pink;
  margin-bottom: 40px;
}

.box {
  width: 250px;
  background-color: rgb(235, 221, 235);
  border: 2px solid black;
  padding: 10px;
}
.text_pseudo{
  text-align: justify;
}

.text_pseudo::first-line{
  color:#f50808;
  font-weight: 600;
}

.text_pseudo::first-letter{
 color: blue;
 font-weight: bolder;
 font-size: 30px;
}
::selection{
  color: #0fe60f;
  background-color: #eff6fa;
  
}

.image_fit{
  max-width: 100%;  
        
  object-fit: contain;
}

.box:nth-child(2){
  display: flex;
  justify-content: center;
  align-content: center;
}
.bg_image{
  background-image: url(https://www.w3schools.com/w3images/photographer.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.bg_image::before{
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
  display: block;
  opacity: 50%;
}
.section2 {
  display: flex;
  justify-content: space-evenly;
}

.section3 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.text_footer {
  text-align: center;
  font-weight: 600;
}

.contact_form {
  margin: 10px;
}

.avesome {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.fa-brands {
  font-size: 60px;
  color: blue;
  margin-left: 50px;
}
.ul_footer {
  display: flex;
}
