body {
  padding-left: 40px;
}

.ford_image {
  width: 130px;
  height: 64px;
  border: 1px solid #4ca9e3;
  margin-top: 32px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ul {
  display: flex;
}

a {
  position: relative;
}

a::after {
  content: " ";
  height: 2px;
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f50808;
  display: block;
  transition: width 0.2s linear 0.5s;
}

a:hover::after {
  width: 100%;
}

a:hover {
  /* background-color: yellow; */
  font-size: 30px;
  font-weight: 900;
  color: blue;
}

.burger {
  width: 50px;
  height: 40px;
  display: none;
}

.fa-solid {
  font-size: 40px;
  font-weight: bold;
  display: none;
}

.text1 {
  font-weight: 400;
  color: #f50808;
  font-size: 20px;
  line-height: 29px;
  margin-right: 50px;
}
.text2 {
  font-weight: 400;
  color: #128410;
  font-size: 20px;
  line-height: 29px;
  margin-right: 50px;
  text-decoration: none;
}

main {
  padding: 20px;
}

.school-container {
  display: flex;
  justify-content: space-between;
  background-color: pink;
  margin-bottom: 40px;
}

.school-container__box {
  width: 250px;
  background-color: rgb(235, 221, 235);
  border: 2px solid black;
  padding: 10px;
}
.school-container__text {
  text-align: justify;
}

.school-container__text::first-line {
  color: #f50808;
  font-weight: 600;
}

.school-container__text::first-letter {
  color: blue;
  font-weight: bolder;
  font-size: 30px;
}
::selection {
  color: #0fe60f;
  background-color: #eff6fa;
}

.school-container__image {
  max-width: 100%;

  object-fit: contain;
}

.box:nth-child(2) {
  display: flex;
  justify-content: center;
  align-content: center;
}
.bg_image {
  background-image: url(https://www.w3schools.com/w3images/photographer.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_image::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  display: block;
  opacity: 50%;
}
.school-container__geo-abs {
  text-align: justify;
  font-family: "BPG Mikheil Stefane", sans-serif;
}

h2 {
  font-weight: bold;
  font-family: "BPG Mikheil Stefane", sans-serif;
  color: #010f18;
  text-align: center;
  margin-bottom: 10px;
}

.school-container__geo-rel {
  text-align: justify;
  font-family: "ALK Life";
  font-size: 14px;
}

.geo-rel__symbol {
  font-size: 40px;
  color: #f50808;
}

.latin-box {
  display: flex;
  padding: 10px;
  background-color: bisque;
  margin-bottom: 20px;
  justify-content: space-around;
}
.latin-box__latin-font {
  width: 500px;
  margin: 10px;
}

latin-font__title-abs {
  font-family: "Montserrat", sans-serif;
}

.latin-font__latin-abs {
  font-family: "Montserrat", sans-serif;
}

.latin-font__latin-rel {
  font-family: "Roboto";
  font-size: 18px;
}

.latin-font__title-rel {
  font-family: "Roboto";
}

.html-forms {
  background-color: #d4e9f5;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-evenly;
}
.html-forms__registration {
  margin: 20px;
}
/* input-ის ამ სტილს თუ რესეტ.ცსს-ში წავიღებთ, საიტზე ყველგან წაიშლება დაფოკუსებისას ფანჯრის ცარჩოს გამუქება */
input:focus {
  outline: none;
}

.text-box {
  margin-bottom: 20px;
}

input[type="text"]{
  color:red;
  font-size: 16px;
  font-weight: 600;
}

.fa{
  color: #f50808;
  
}

.fa:hover{
  color: #4ca9e3;
  font-size: 20px;
}
.section2 {
  display: flex;
  justify-content: space-evenly;
}

.section3 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.text_footer {
  text-align: center;
  font-weight: 600;
}

.contact_form {
  margin: 10px;
}

.avesome {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.fa-brands {
  font-size: 60px;
  color: blue;
  margin-left: 50px;
}
.ul_footer {
  display: flex;
}
